<article class="project-card">
    <h1>Prooject Name</h1>
    <p class="prj-status finished"></p>Status</p>
    <p>Taks Coompleted</p>
    <h3>Team</h3>
    <p>view Details</p>
</article>

<article class="project-card">
    <h1>Project Name</h1>
    <p>Project Description</p>
    <h3>Project Deadline</h3>
    <h3>Project Status</h3>
</article><article class="project-card">
    <h1>Project Name</h1>
    <p>Project Description</p>
    <h3>Project Deadline</h3>
    <h3>Project Status</h3>
</article><article class="project-card">
    <h1>Project Name</h1>
    <p>Project Description</p>
    <h3>Project Deadline</h3>
    <h3>Project Status</h3>
</article><article class="project-card">
    <h1>Project Name</h1>
    <p>Project Description</p>
    <h3>Project Deadline</h3>
    <h3>Project Status</h3>
</article><article class="project-card">
    <h1>Project Name</h1>
    <p>Project Description</p>
    <h3>Project Deadline</h3>
    <h3>Project Status</h3>
</article><article class="project-card">
    <h1>Project Name</h1>
    <p>Project Description</p>
    <h3>Project Deadline</h3>
    <h3>Project Status</h3>
</article><article class="project-card">
    <h1>Project Name</h1>
    <p>Project Description</p>
    <h3>Project Deadline</h3>
    <h3>Project Status</h3>
</article><article class="project-card">
    <h1>Project Name</h1>
    <p>Project Description</p>
    <h3>Project Deadline</h3>
    <h3>Project Status</h3>
</article><article class="project-card">
    <h1>Project Name</h1>
    <p>Project Description</p>
    <h3>Project Deadline</h3>
    <h3>Project Status</h3>
</article>