<section class="sidebar">
    <ul class="sidebar-items">
        <li class="sidebar-item"><a href="/dashboard">Dashboard</a></li>
        <li class="sidebar-item"><a href="/projects">My projects</a></li>
        <li class="sidebar-item"><a href="/teams">Teams</a></li>
        <li class="sidebar-item"><a href="/reports">reports</a></li>
        <li class="sidebar-item"><a href="/calender">Calender</a></li>
        <li class="sidebar-item"><a href="/support">Help & Support</a></li>
        <li class="sidebar-item"><a href="/settings">Settings</a></li>
    </ul>
</section>