<header class="main-header">
    <nav class="navbar">
        <ul class="navbar-list">
            <li class="navbar-item ">
                <img src="./Images/download.png" id="brand-logo" width="120px" height="80px" alt="EssenceFlow">
            </li>
        </ul>
        <ul class="navbar-list">
            <li class="navbar-item">
                <a href="/">Home</a>
            </li>
            <li class="navbar-item">
                <a href="#features">Features</a>
            </li>
            <li class="navbar-item">
                <a href="#pricing">Pricing</a>
            </li>
            <li class="navbar-item">
                <a href="/about">About Us</a>
            </li>
        </ul>
        <ul class="navbar-list">
            <li class="navbar-item">
                <a href="/login">Login</a>
            </li>
            <li class="navbar-item">
                <a href="/register">Register</a>
            </li>
        </ul> 
    </nav>
</header>