<%- include('./layouts/head.ejs') %>
    <link rel="stylesheet" href="./CSS/dash-nav.css">
    <link rel="stylesheet" href="./CSS/sidebar.css">
    </head>
<body>

    <%- include('./dashboard/navbar.ejs') %>
    <main>
        <%- include('./dashboard/sidebar.ejs') %>   
        <section class="main-content">
            <%- include('./dashboard/projects.ejs') %>   
        </section>
    </main>
</body>
</html> 