<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./index.css">
    <title>Welcome</title>
</head>

<body>
    <header class="main-header">
        <nav class="navbar">
            <ul class="navbar-list">
                <li class="navbar-item ">
                    <img src="./download.png" id="brand-logo" width="120px" height="80px" alt="EssenceFlow">
                </li>
            </ul>
            <ul class="navbar-list">
                <li class="navbar-item">
                    <a href="/">Home</a>
                </li>
                <li class="navbar-item">
                    <a href="/features">Features</a>
                </li>
                <li class="navbar-item">
                    <a href="/pricing">Pricing</a>
                </li>
                <li class="navbar-item">
                    <a href="/about">About Us</a>
                </li>
            </ul>
            <ul class="navbar-list">
                <li class="navbar-item">
                    <a href="/login">Login</a>
                </li>
                <li class="navbar-item">
                    <a href="/register">Register</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main-content">
        <section class="main-intro">
            <article>
                <img src="./u6eewgjm.png" alt="Nothing">
            </article>
            <article>
                <div class="form-control">
                    <h1>Welcome to<span id="brand-name"> Essence Flow!</span>
                    </h1>
                    <h2>Please register for an account to quickly unlock all the features for seamless project
                        management.</h2>
                </div>


                <form action="" class="form-control">
                    <input type="email" id="email" name="email" placeholder="Enter your email">
                    <input type="submit" id="submit">
                </form>
            </article>

        </section>
    </main>
</body>

</html>