<%- include('./layouts/head.ejs') %>
    <link rel="stylesheet" href="./CSS/index.css">
    </head>
<body>
    <%- include('./layouts/navbar.ejs') %>
    <main class="main-content">
        <section class="main-intro">
                <article>
                    <img src="./Images/u6eewgjm.png" alt="Nothing">
                </article>
                <article>
                    <div class="form-control">
                        <h1>Welcome to<span id="brand-name"> Essence Flow!</span>
                        </h1>
                        <h2>Please register for an account to quickly unlock all the features for seamless project
                            management.</h2>
                    </div>


                    <form action="" class="form-control">
                        <input type="email" id="email" name="email" placeholder="Enter your email">
                        <input type="submit" id="submit">
                    </form>
                </article>

            </section>
        </main>
    </body>
    </html>