<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>Registration</title>

</head>
<body>
        <form action="" class="form-control">
            <input type="text">
            <input type="password">
            <input type="submit">
            <p>Already  have an account? <a href="#">Login</a></p>

        </form>
</body>
</html>