/* Navbar styling */
* {
  color: black;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: whitesmoke;
  border-bottom: 1px solid rgb(139, 132, 132);
  z-index: 1;
}

.navbar-left {
  flex: 1;
}

.brand-logo {
  text-decoration: none;
  list-style-type: none;
}

.navbar-center {
  min-width: 50px;
  flex: 4;
  width: 100%;
  display: flex;
  justify-content: center;
}
.navbar-center form{
  width:70%;
}
.search-bar {
  padding: 5px 15px;
  width: 90%;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  outline: none;
}

.navbar-right {
  flex: 2;
  display: flex;
  justify-content:flex-end;
  align-items: center;
  gap: 30px;
  font-size: 20px;
  outline: none;
}

button {
  background: none;
  border: none;
  margin-left: 15px;
  cursor: pointer;
  font-size: 20px;
  outline: none;  
  min-width: fit-content;

}

button:hover {
  opacity: 0.8;
}

.user-profile {
cursor: pointer;  min-width: fit-content;

}

#search-btn {
  background: white;
  margin-left: -20px;
  width: auto;
  padding: 5px 20px;
  width: 10%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 16px;
  border-left: 1px solid grey;
  place-content: center;

}


.pagination{
  margin-top: 20px;
}
.pagination a{
  padding: 10px 30px;
  border :1px solid #ddd;
  text-decoration: none;
}
.pagination a:hover,
.pagination a.active{
  background: #7eccff;
}

.main-content .projects{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}