* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sidebar {
  position: fixed;
  top: 80px;
  left: 0;
  min-width: 200px;
  width: 20%;
  height: calc(100vh - 80px);
  background: whitesmoke;
  display: flex;
}
.collapse{
  width:50px;
  overflow: hidden;
}

.sidebar .sidebar-items {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  list-style-type: none;
}

.sidebar .sidebar-items li a {
  text-decoration: none;
}

.sidebar .sidebar-items li {
  width: 100%;
  padding: 20px 0px;
  padding-left: 40px;
  border-radius: 20px;
}

.sidebar .sidebar-items .sidebar-item.active {
  background: #0056b3;
}

.sidebar .sidebar-items .sidebar-item:hover {
  background: #c5bfbf;
}



.sidebar .sidebar-items li.collapse-expand{
  position: absolute;
  top: 0;
  right: -15px;
  border-radius: 0px;
  max-width: 15px;
  background: #d3d0d0;
  padding: 0;
  font-size: 2rem;
}
main {
  position: relative;
  width: 100%;
}

main .main-content {
  position: absolute;
  top: 100px;
  left: 300px;
  width: calc(100% - 300px);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  justify-content: center;
  
}

.project-card {
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: space-around;
  height: 350px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 16px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(56, 199, 221,0.5);
  position: relative;
}
.new-project{
  height: fit-content;
  max-width: calc(100% - 20%);
  max-height: calc(100vh - 10%);
  flex-shrink: 1;
}
.project-title {
  font-size: 1.5em;
  margin-bottom: 8px;
}

.project-status {
  font-weight: bold;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 12px;
  display: inline-block;
}

.status-ongoing {
  background-color: #4caf50;
  /* Green for "ongoing" */
}

.status-finished {
  background-color: #2196f3;
  /* Blue for "finished" */
}

.project-description {
  margin: 12px 0;
}

.project-tasks {
  font-size: 1em;
  margin-bottom: 12px;
}

.team-members h3 {
  margin-top: 12px;
  font-size: 1.2em;
}

.team-members ul {
  padding-left: 20px;
}

.team-members li {
  margin-bottom: 4px;
}

.view-button {
  text-align: center;
  margin-top: 16px;
}

.btn-view {
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  padding: 8px 16px;
  border-radius: 4px;
  display: inline-block;
  font-weight: bold;
}

.btn-view:hover {
  background-color: #0056b3;
}

.delete-project,
.edit-project{
  position: absolute;
  top: 8px;
  right: 10px;
  width: 50px;
  height: 20px;
  border-radius: 5px;
  background: red;
  color: white;
  font-size: small;
}

.edit-project {
  top: 8px;
  right: 70px;
  background: rgb(7, 120, 226);

}

.delete-form,
.edit-form {
  display: none;
}

.project-card:hover .edit-form,
.project-card:hover .delete-form {
  display: flex;
}


.project-card .project-create-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.project-create-form .project-content {
  display: flex;
  flex-direction: column;
}

.project-create-form input {
  height: 40px;
  border-radius: 8px;
  outline: none;
  border: none;
  border-bottom: 2px solid grey;
  background: white;
}

.project-create-form button {
  max-width: 200px;
  padding: 0.7rem;
  background: #6fffa6;
  place-self: center;
}


.start-task{
  position: absolute;
  top: 50%;
  right: 10px;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  background:green;
  color: white;
  font-size: small;
}